**/**/learning_agents_in_lcel.ipynb
.pytest_cache
.mypy_cache
__pycache__
credentials.json
token.json
**/data/vectorstore
.chroma
**/.chroma
test_env
archived
interview.txt
.DS_Store
**/**/.DS_Store
**/**.index
oreilly
**.model
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/prompt-engineering-for-generative-ai-examples.iml
.idea/vcs.xml
.env
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/prompt-engineering-for-generative-ai-examples.iml
.idea/vcs.xml
/venv
